
$--color-white: #fff;
//主题颜色
$font-theme1-color: #4da6ff; //默认主题为皇家蓝
$font-theme2-color: #14bd58;
$font-theme3-color: #d09700;
$font-theme4-color: #8A2BE2;
$font-theme5-color: #ec0000;


//配置全局变量
$font-border-color: #ccc;
$font-blue-color: #106492;
$font-red-color: #be1204;
$font-footer-color: #666;

