/** loading **/
.mint-indicator-wrapper {
    padding: 30px!important;
    .mint-spinner-snake{
        width: 44px!important;
        height: 44px!important;
    }
    .mint-indicator-text {
        font-size: 28px;
    }
}
/** loading 结束 **/

/**下拉刷新文字 **/
.mint-loadmore-top {
    height: 60px!important;
    line-height: 40px!important;
    .mint-loadmore-top {
        font-size: 28px;
    }
    .mint-loadmore-spinner {
        width: 30px!important;
        height: 30px!important;
    }
}
/** 下拉刷新结束 **/

/** MessageBox */
.mint-msgbox {
    .mint-msgbox-header {
        padding: 30px 0 0;
        .mint-msgbox-title {
            font-size: 32px;
        }
    }
    .mint-msgbox-content {
        min-height: 72px;
        padding: 20px 40px 30px;
        .mint-msgbox-message {
            line-height: 72px;
            font-size: 28px;
        }
    }
    .mint-msgbox-btns {
        height: 80px;
        line-height: 80px;
        .mint-msgbox-btn {
            line-height: 70px;
            font-size: 28px;
        }
    }
}
/** MessageBox结束 */



