
@mixin flex($contentPos: center,$alignPos: center) {
    display: flex;
    justify-content: $contentPos;
    align-items: $alignPos;
}

@mixin transition($name: all,$duration: .3s,$way: linear) {
    transition: $name $duration $way;
}

