<div class="footer" id="footer">
    <div class="wp">
        <p>
            Copyright © 2019&nbsp;<a href="/" target="_self">万寻资源网</a>&nbsp; Powered by wx520.net
        </p>
        <p>
            本站所有内容均来自互联网，我们不提供影片资源存储、录制和上传！请下载后24小时内删除，不可用于商业传播，否则产生的一切后果将由您自己承担！
        </p>
    </div>
</div>