<ul id="menuWp" class="menu">
    <li class="title">电影</li>
    <li class="home work">首页</li>
    <li class="work">动作片</li>
    <li class="work">喜剧片</li>
    <li class="work">爱情片</li>
    <li class="work">科幻片</li>
    <li class="work">剧情片</li>
    <li class="work">悬疑片</li>
    <li class="work">战争片</li>
    <li class="work">惊悚片</li>
    <li class="work">恐怖片</li>
    <li class="work">灾难片</li>
    <li class="work">动画片</li>
    <li class="title">热门电影</li>
    <li class="hot-movie">
        <%- include hotMovie %>
    </li>
    <li class="title">近期电影</li>
    <li class="hot-movie">
        <%- include recent %>
    </li>
    <!-- <li>连续剧</li>
    <li>动漫</li>
    <li>综艺片</li> -->
</ul>