<div class="search">
    <input class="fl ipt" type="text" placeholder="输入电影名称搜索..." autocomplete="on" />
    <Button class="fr btn">影视搜索</Button>
    <div class="tip"><span><a href="/html/downThurder" target="_blank"
                style="color: #be1204;line-height:26px;">下载无限制版迅雷</a></span></div>
</div>