
/* 导航菜单 */
.menu li {
    color:#fff;
    text-align: center;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
}
  .menu li:hover {
      color:#be1204;
      cursor: pointer;
}
  .menu li.active{
      color:#be1204;
}