/* 头部 */
.header-wp{
    overflow: hidden;
    width: 100%;
    background-color:#fff;
}
.header-wp .hot-wp {
    height: 30px;
    box-shadow: 0 1px 10px 0 #d9d9d9;
    overflow: hidden;
}
.header-wp .hot-wp .fl {
    /* width: 60%; */
}
/* .header-wp .hot-wp .fr {
    width: 40%;
    text-align:right;
    
} */
.header-wp .hot-wp a {
    color: #999;
    font-size: 13px;
    margin: 0 1px;
}
.header-wp .hot-wp a:last-child {
    margin-right: 0;
}
.header-wp .hot-wp .hot {
    line-height: 30px;
}
.header-wp .hot-wp a:hover{
    color: #be1204;
}
.header-wp .head{
    height: 108px;
    padding: 0;
}
.header-wp .logo{
    height: 108px;
    line-height: 108px;
}
.header-wp h1 {
    height: 100%;
}
.header-wp .logo a {
    display: block;
    width: 203px;
}
.header-wp .logo img{
    max-width: 100%;
    max-height: 80%;
    display: inline-block;
    vertical-align: middle; 
}
.header-wp .right {
    position: relative;
}
.header-wp .right .fast-nav-wp {
    position: absolute;
    right: 0;
    top: 0;
}
.header-wp .right .fast-nav {
    line-height: 28px;
}
.header-wp .right .fast-nav a{
    color: #106492;
    margin: -2px 4px 0;
    font-size: 13px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.header-wp .right .fast-nav a:last-child {
    margin-right: 0;
}
.header-wp .right .fast-nav a:hover{
    color: #be1204;
}
.header-wp .search{
    width: 518px;
    margin-top: 38px;
}
.header-wp .search input {
    width: 406px;
}

@media only screen and (max-width:776px) {
    .header-wp {
        position: fixed;
        left: 0;
        top: 0;
        height: 45px;
        z-index: 9;
        padding: 0 10px;
        box-shadow: 0 0 8px #888;
        -webkit-box-shadow: 0 0 8px #888;
        -moz-box-shadow: 0 0 8px #888;
        -ms-box-shadow: 0 0 8px #888;
        -o-box-shadow: 0 0 8px #888;
    }
    .header-wp .hot-wp {
        display:none;
    }
    .header-wp .hot-wp .hot {
        padding: 0 10px;
    }
    .header-wp .wp{
        height: 45px;
        line-height: 45px;
    }
    .header-wp .right .fast-nav-wp {
        display: none;
    }
    .header-wp .search{
        display: none;
    }
    .header-wp .logo {
       width: 40%;
       height: 45px;
       line-height: 45px;
    }
    .header-wp .logo a {
        max-width: 60%;
        height: 100%;
        margin-top: 2px;
    }
   .header-wp .logo img {
        margin-top: -7px;
        vertical-align: middle;
   }
   .header-wp .right {
       margin-top: 1px;
   }
   .header-wp .right .menu-icon {
       position: relative;
       display: block;
       width: 26px;
       height: 26px;
       margin: 11px 0 7px 14px;
       z-index: 9;
       transition: opacity .3s;
       -webkit-transition: opacity .3s;
       -ms-transition: opacity .3s;
       -moz-transition: opacity .3s;
       -o-transition: opacity .3s;
   }
   .header-wp .right .menu-icon:hover{
       opacity: .8;
       cursor: pointer;
   }
   .header-wp .right .menu-icon b {
       display: block;
       height: 3px;
       width: 28px;
       background-color: #004a84;
       margin: 3px 0 5px;
       border-radius: 2px;
        -webkit-border-radius: 2px;
       -ms-border-radius: 2px;
       -moz-border-radius: 2px;
       -o-border-radius: 2px;
       transition: all .3s;
       -webkit-transition: all .3s;
       -ms-transition: all .3s;
       -moz-transition: all .3s;
       -o-transition: all .3s;
       transform-origin: center;
       -webkit-transform-origin: center;
   }
   .header-wp .right .active b {
       position: absolute;
       left: 2px;
       top: 0;
       margin-top: 9px;
   }
   .header-wp .right .active b:first-child{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
   }
   .header-wp .right .active b:nth-child(2){
        display: none;
   }
   .header-wp .right .active b:last-child{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
   }
}
/* 头部结束 */

/* 导航 */
.nav {
    background-color: 	 #4da6ff;
}
.nav .wp ul {
    font-size: 0;
}
.nav .wp li {
    display: inline-block;
    height: 40px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 40px;
}
.nav .wp li.title,.nav .wp li.hot {
    display: none;
}

.nav .search {
    display: none;
}
.nav .wp .hot-movie {
    display: none;
} 
@media only screen and (min-width: 777px) {
    .nav .wp li {
        position: relative;
    }
    .nav .wp li:after {
        position: absolute;
        top: 4px;
        right: 0;
        display: block;
        content: '';
        width: 1px;
        height: 32px;
    }
}
@media only screen and (max-width:776px) {
    .nav {
        position: fixed;
        height: 0;
        top: 45px;
        width: 100%;
        background-image: none;
        background-color:rgba(0, 0,0,.8);
        overflow: hidden;
        z-index: 9;
        transition: height .4s ease-out;
        -webkit-transition: height .4s ease-out;
        -ms-transition: height .4s ease-out;
        -moz-transition: height .4s ease-out;
        -o-transition: height .4s ease-out;
    }
    .nav .search{
        display: block;
        width: 100%;
        height: 38px;
        margin: 0 0 5px; 
        transition: margin-top .4s ease-out;
        -webkit-transition: margin-top .4s ease-out;
        -ms-transition: margin-top .4s ease-out;
        -moz-transition: margin-top .4s ease-out;
        -o-transition: margin-top .4s ease-out;
    }
    .nav .search input {
        width: -webkit-calc(100% - 112px);
        width: -mos-calc(100% - 112px);
        width: -ms-calc(100% - 112px);
        width: -o-calc(100% - 112px);
        width: calc(100% - 112px);
    }
    .nav ul {
        /* height: 350px; */
        /* height: 425px; */
        padding: 0 8px;
        overflow-y: auto;
    }
    .nav .wp li {
        width: 25%;
        height: 35px;
        line-height: 35px;
        background: none;
        
    }
    .nav .wp li a {
        width: 100%;
        color: #fff;
    }
    .nav .wp li.title {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        text-align: left;
        border-bottom: 1px dotted #fff;
    }
    .nav .wp li.title:hover{
        cursor: auto;
        color:#fff;
    } 
    .nav .wp li.hot-movie{
        display: inline-block;
        width: 100%;
        height: initial;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        font-size: 0;
    }
    .nav .wp li.hot-movie a {
        float: left;
        width: 33.33333%;
        height: 35px;
        padding: 0 10px;
        line-height: 35px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    .nav .wp li.hot-movie a:hover {
        color: #be1204;
    }
    .nav .wp li.home{
        /* display:none; */
    }
    .nav .wp li.hot {
        display: inline-block;
        width: 25%;
        overflow: hidden;
    }
    .sm-nav {
        height: 425px;
        box-shadow: 1px 2px 5px #888;
    }
    .sm-nav .search {
        margin-top: 10px;
    }
}
/* 导航结束 */
/* 回顶部 */
#goTop {
    position: fixed;
    bottom:60px;
    right: 30px;
    opacity:0;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    z-index: 999;
}
#goTop.show {
    display: block;
    opacity: 1;
}
#goTop .top {
    padding: 6px 10px;
    background-color: #5193c7;
    color: #fff;
    font-weight: bold;
}
#goTop .top:hover {
    cursor: pointer;
    opacity: .9;
}
/* 回顶部结束 */