.no-find {
    height: 395px;
    padding-top: 50px;
    text-align: center;
}
.no-find .expression {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 50px;
}
.no-find .tip {
    font-size: 36px;
    line-height: 72px;
}
.no-find .tip +p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0;
}
.no-find .tip+p a{
    color: #5193c7;
}
@media only screen and (max-width:776px) {
    .no-find {
        height: 500px;
        padding-top: 90px;
    }
}