.el-backtop {
    line-height: 38px;
    text-align: center;
    transition: .3s;
    @include font_color($font-theme1-color);
}
.el-dropdown {
    color: $font-blue-color;
    &:hover {
        @include font_color($font-theme1-color);
    }
}
.el-dropdown-menu__item {
    color: $font-blue-color;
    &:focus {
        @include font_color($font-theme1-color);
    }
    &:not(.is-disabled) {
        &:hover {
            @include font_color($font-theme1-color);
        }
    }
}
.el-message--success {
    .el-message__content {
        @include font_color($font-theme1-color);
    }
}
.el-message__icon {
    &.el-icon-success {
        @include font_color($font-theme1-color);
    }
}

.el-message__closeBtn{
    transition-duration: .3s;
    @include font_color($font-theme1-color);
    &:hover {
        @include hover_font_color($font-theme1-color);
    }
}

.el-dialog__headerbtn .el-dialog__close {
    @include font_color($font-theme1-color);
    &:hover {
        @include hover_font_color($font-theme1-color);
    }
}

.el-input__inner {
    transition-duration: .3s;
    &::-webkit-input-placeholder {
        color: #666;
    }
    &:-moz-input-placeholder {
        color: #666;
    }
    &::-moz-input-placeholder {
        color: #666;
    }
    &:-ms-input-placeholder {
        color: #666;
    }
    &::placeholder { //firefox
        color: #666;
    }
    &:focus {
        @include br_color($font-theme1-color);
        &::-webkit-input-placeholder {
            color: #999;
        }
        &:-moz-input-placeholder {
            color: #999;
        }
        &::-moz-input-placeholder {
            color: #999;
        }
        &:-ms-input-placeholder {
            color: #999;
        }
        &::placeholder { //firefox
            color: #999;
        }
    }
    &:hover {
        @include br_color($font-theme1-color)
    }
}

.el-button {
    transition-duration: .3s;
}

.el-button--default {
    @include font_color($font-theme1-color);
    &:hover {
        @include hover_font_color($font-theme1-color);
    }
    &:active {
        @include br_color($font-theme1-color);
    }
}
.el-button--primary {
    @include bg_color($font-theme1-color);
    @include br_color($font-theme1-color);
    &:hover {
        @include hover_bg_color($font-theme1-color);
        @include hover_br_color($font-theme1-color);
    }
    &:active {
        @include hover_bg_color($font-theme1-color);
        @include hover_br_color($font-theme1-color);
    }
}

.el-pagination {
    &.is-background {
        .el-pager {
            li:not(.disabled) {
                transition-duration: .3s;
                &.active {
                    @include hover_bg_color($font-theme1-color);
                    &:hover {
                        color: #fff;
                    }
                }
                &:hover {
                    @include font_color($font-theme1-color);
                }
            }
        }
    }
}

  
