
.title {
    width: 100%;
    margin-bottom: 15px;
    height: 42px;
    line-height: 42px;
    font-size: 22px;
    border-bottom: 1px solid #ececec;
}
.title img {
    vertical-align: top;
}
.title a {
    margin-left: 10px;
    color:#106492;
    font-size: 16px;
}
.title a:hover {
    color: #be1204;
}
.down-load-wp {
    margin: 0 auto;
    padding: 10px 15px 0;
    color: #333;
}
.icon-wp {
    margin-right: 10px;
}
.icon-wp + h1 {
    display: inline-block;
}

.down-load li {
    display: inline-block;
    overflow:hidden;
}
.down-load a{
    display: block;
    width: 266px;
    height: 62px;
    padding: 0 20px;
    line-height: 62px;
    font-size: 20px;
    color: #fff;
    background-color: #5193c7;
    font-weight: normal;
    transition: opacity .3s;
}
.down-load a:hover {
    opacity: .9;
}
.down-load a i {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    margin-right: 15px;
    background: url('/public/images/download.png') no-repeat;
}

@media only screen and (max-width: 776px) {
    .title {
        font-size: 16px;
    }
    .icon-wp {
        margin-right: 8px;
    }
    .icon-wp img {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }
    .down-load-wp {
        padding: 45px 7px 0;
        /* margin: 0 7px; */
    }
    .down-load a {
        font-size: 18px;
    }
}

