/*改变主题色变量*/
// $--color-primary: #4da6ff;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

$font-base-color: #000;
$font-gray-color: #999;
$font-blue-color: #106492;
$font-red-color: #be1204;