<%- include("common/header",{flag:"downLoadTxt",movieName:""}) %>
<!-- 主内容 -->
<div class="main" id="main">
    <div class="container down-load-txt-wp">
        <div class="title">
            <a href="/html/downTxt">迅雷5下载教程</a>
        </div>
        <div class="down-load-txt">
            <p class="tip">1.&nbsp;新版迅雷中,右键点击出错的下载文件,弹出菜单中选择：种子文件另存为</p>
            <p class="img-wp"><img src="/public/images/step_01.png"></p>
            <p class="tip">2.&nbsp;将种子另存为.torrent文件,点击保存，生成如下的种子文件</p>
            <p class="img-wp"><img src="/public/images/step_02.png"></p>
            <p class="img-wp"><img src="/public/images/step_03.png"></p>
            <p class="tip">3.&nbsp;打开下载的迅雷5.exe文件</p>
            <p class="img-wp"><img src="/public/images/step_04.png"></p>
            <p class="tip">4.&nbsp;选择文件--打开BT种子文件</p>
            <p class="img-wp"><img src="/public/images/step_05.png"></p>
            <p class="tip">5.&nbsp;种子标题可选输入,点击确定按钮</p>
            <p class="img-wp"><img src="/public/images/step_06.png"></p>
            <p class="img-wp">6.&nbsp;开始下载</p>
            <p class="img-wp"><img src="/public/images/step_07.png"></p>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
</body>

</html>