<%- include("common/header",{flag:"notFind",movieName:""}) %>
<!-- 主内容 -->
<div class="main" id="main">
    <div class="wp">
        <div class="container no-find">
            <p class="expression">o(╥﹏╥)o</p>
            <p class="tip"><%= title%></p>
            <p><a href="/" target="_self">返回首页</a></p>
        </div>
    </div>
</div>
<!-- 主内容结束 -->
<!-- 底部 -->
<%- include('common/footer.ejs') %>
<!-- 底部结束 -->
<%- include('common/script.ejs') %>
</body>

</html>